*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

.nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  width: 100%;
  background-color: #fff;
  height: 5vh;
  -webkit-column-gap: 10rem;
          column-gap: 10rem;
}

.nav a {
  text-decoration: none;
  color: #a7adc5;
  font-size: 1.8rem;
  font-weight: 700;
}

.nav a:nth-of-type(1) {
  color: #687fec;
}

.nav a:hover {
  color: #687fec;
}

.nav__link--1 {
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.nav__link--2 {
  -ms-grid-column-align: start;
      justify-self: start;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #eef2f5;
  min-height: 100vh;
}

.main__div {
  width: 130rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__div__text {
  padding: 3rem;
}

.main__div__text__heading {
  font-weight: 300;
  font-size: 2.4rem;
}

.main__div__text__paragraph {
  font-size: 1.6rem;
}

.main__div__new__btn {
  background-color: #687fec;
  border: none;
  border-radius: 0.5rem;
  color: #fff;
  height: 4rem;
  width: 16rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  font-family: inherit;
  cursor: pointer;
}

.main__div__new__btn:hover {
  background-color: #4e68e9;
}

.main__cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 8rem;
  width: 100%;
  max-width: 130rem;
  margin-top: 2rem;
}

.main__cards__card {
  width: 100%;
  height: 100%;
  background-color: #fff;
  height: 20rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 60%, 40%;
      grid-template-rows: 60%, 40%;
  -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.363);
          box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.363);
}

.main__cards__card__info {
  text-align: center;
  -ms-flex-item-align: center;
      align-self: center;
  justify-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  align-self: center;
  margin-bottom: 4rem;
  font-size: 1.4rem;
}

.main__cards__card__info__price {
  padding: 0.5rem;
}

.main__cards__card__info__membership {
  padding: 0.5rem;
}

.main__cards__card__details {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row-align: end;
      align-self: end;
  color: #66696b;
  font-size: 1.2rem;
  margin-bottom: 4rem;
}

.main__cards__card__delete {
  width: 100%;
  border-top: 1px solid #eef2f5;
  display: -ms-grid;
  display: grid;
  cursor: pointer;
}

.main__cards__card__delete__btn {
  padding: 1rem;
  border: none;
  color: #f76568;
  background-color: #fce5e8;
  width: 4rem;
  height: 4rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: end;
      justify-self: end;
  margin-right: 2rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
}

.main__cards__card__delete__btn:hover {
  background-color: #ffc7cf;
}

.main__copyright {
  font-size: 1.4rem;
  text-align: center;
  padding: 5rem;
}

.addMembership {
  min-height: 100vh;
  background-color: #eef2f5;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-rows: 6rem 1fr;
      grid-template-rows: 6rem 1fr;
  padding: 2rem 5rem;
}

.addMembership__heading {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/ 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 /2;
  z-index: 5;
  padding-top: 1rem;
  margin-bottom: 5rem;
  font-size: 2.5rem;
  font-weight: 300;
  padding-bottom: 1rem;
}

.addMembership__main {
  width: 130rem;
  background-color: #fff;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 /3;
  height: 50rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.363);
          box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.363);
}

.addMembership__main__name {
  padding: 2rem;
}

.addMembership__main__name__input {
  width: 34rem;
  height: 4rem;
  border: none;
  -webkit-box-shadow: 1px 1px 3px black;
          box-shadow: 1px 1px 3px black;
}

.addMembership__main__name__label {
  font-size: 1.8rem;
  padding-right: 1.5rem;
}

.addMembership__main__price {
  padding: 2rem;
}

.addMembership__main__price__input {
  width: 34rem;
  height: 4rem;
  border: none;
  -webkit-box-shadow: 1px 1px 3px black;
          box-shadow: 1px 1px 3px black;
  -webkit-transform: translate(1%);
          transform: translate(1%);
}

.addMembership__main__price__label {
  font-size: 1.8rem;
  padding-right: 1.5rem;
}

.addMembership__main__description {
  margin-right: 2rem;
  display: -ms-grid;
  display: grid;
  padding: 2rem;
  -webkit-transform: translate(-2.5%);
          transform: translate(-2.5%);
}

.addMembership__main__description__input {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  border: none;
  -webkit-box-shadow: 1px 1px 3px black;
          box-shadow: 1px 1px 3px black;
}

.addMembership__main__description__label {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/ 2;
  font-size: 1.8rem;
  padding-right: 1.5rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.addMembership__main__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem;
}

.addMembership__main__btn__close {
  border: none;
  font-family: inherit;
  font-size: 1.6rem;
  background-color: #fff;
  margin-right: 2rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
}

.addMembership__main__btn__close:hover {
  color: #2e2e2e;
}

.addMembership__main__btn__add {
  background-color: #687fec;
  border: none;
  border-radius: 0.5rem;
  color: #fff;
  height: 4rem;
  width: 16rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  font-family: inherit;
  font-size: 1.6rem;
  cursor: pointer;
}

.addMembership__main__btn__add:hover {
  background-color: #4e68e9;
}

.addMembership__copyright {
  position: absolute;
  top: 90%;
  font-size: 1.4rem;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
}
/*# sourceMappingURL=index.css.map */